<div id="content">
  <h2>
    {{ data.currentWorksheet }}
  </h2>
  
  {{#each data.rows }}
    <div class="plant">
      <ul id="facts">
        {{#each this}}
          {{#unless this.image}}
            <li><strong>{{@key}}:</strong> {{this}}</li>
          {{/unless}}
        {{/each}}
      </ul>
      <div class="image">
        <img src="{{this.Image.url}}"  />
      </div>
    </div>
  


    <hr>
  {{/each}}
</div>


{{!--

{{#each myObject}}
    Key: {{@key}} Value = {{this}}
{{/each}}


--}}