<div id="content">
  <h2>
    {{ data.currentWorksheet }}
  </h2>
  
  {{#each data.rows }}
    <div class="plant">
      <ul class="facts">
        {{#each this}}
          {{#unless this.image}}
            <li><strong>{{@key}}:</strong> {{this}}</li>
          {{/unless}}
        {{/each}}
      </ul>
      <div class="images">
        {{#each this}}
          {{#if this.image}}
            <div class="image">
              <img src="{{this.url}}"  />
            </div>
          {{/if}}
        {{/each}}
      </div>

    </div>
  


    <hr>
  {{/each}}
</div>


{{!--

{{#each myObject}}
    Key: {{@key}} Value = {{this}}
{{/each}}


--}}